In [9]:
import pandas as pd
import numpy as np
import matplotlib as mlt

In [46]:
auto = pd.read_csv("auto(1)(1).csv")

In [5]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [47]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
year            398 non-null int64
origin          398 non-null int64
name            398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [7]:
auto['horsepower'].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [48]:
auto[auto =='?']=np.nan

c:\users\lenovo\appdata\local\programs\python\python37\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [49]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
year            398 non-null int64
origin          398 non-null int64
name            398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [50]:
auto['horsepower']=auto['horsepower'].astype(float)

In [3]:
auto.info()

NameError: name 'auto' is not defined

In [51]:
auto[['horsepower','cylinders']].plot(title='HP vs CYL'),figsize= (20,4))

SyntaxError: invalid syntax (<ipython-input-51-253048a291e0>, line 1)

In [27]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             392 non-null float64
cylinders       392 non-null float64
displacement    392 non-null float64
horsepower      392 non-null float64
weight          392 non-null float64
acceleration    392 non-null float64
year            392 non-null float64
origin          392 non-null float64
name            392 non-null object
dtypes: float64(8), object(1)
memory usage: 28.1+ KB

In [52]:
auto[['horsepower','cylinders']].groupby(['cylinders']).mean()

           horsepower
cylinders
3           99.250000
4           78.281407
5           82.333333
6          101.506024
8          158.300971

In [53]:
auto[['horsepower','cylinders']].groupby(['cylinders']).transform(lambda grp: grp.fillna(grp.mean()))

     horsepower
0         130.0
1         165.0
2         150.0
3         150.0
4         140.0
..          ...
393        86.0
394        52.0
395        84.0
396        79.0
397        82.0

[398 rows x 1 columns]